/* Style for metadata card. */
body {
    font-family: Segoe UI, Tahoma, Arial, sans-serif !important;
}

table {
    line-height: 20px !important;
    font-size: 14px !important;
    /*width: 100% !important;*/
    margin: auto;
}

th {
    background-color: #318CCC !important;
    color: white;
    font-size: 15px !important;
    font-weight: 600;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ecf2f8 !important;
}

.col-md-12 .col-md-5 {
    padding-left: 0px !important;
}



tfoot {
    background-color: #318CCC !important;
    color: white;
    font-size: 15px !important;
    font-weight: 600;
    width: 25%;
}

.form-group {
    margin-bottom: 0px;
}

table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: border-box !important;
}

/*@media only screen and (max-width: 480px) {
    table {
        width:95%;
    }
    
}*/
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tfoot {
        text-transform: uppercase;
    }

    table tr {
        border-bottom: 2px solid #cccccc;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        display: block;
        font-size: .9em;
        text-align: right;
        height: 30px !important;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: 600;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .table td, .table th {
        padding-top: 5px !important;
        vertical-align: top;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #cccccc;
        border-bottom: 0 !important
    }

    .table-bordered {
        border: 0px !important
    }
}
