
/* Style for metadata card. */
body {
    font-family: Segoe UI, Tahoma, Arial, sans-serif !important;
}

.page-container {
    margin: 0px;
    height: 100%;
}

html.mf-ltr div.mf-internal-text, html.mf-ltr span.mf-internal-text, html.mf-ltr div.mf-internal-text-state-prop, html.mf-ltr span.mf-internal-text-state-prop, html.mf-ltr .mf-autovalue {
    padding: 6px 0px 2px 30px !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}

label {
    /*font-family:Segoe UI, Tahoma, Arial, sans-serif;*/
    color: #000000;
    display: block;
}

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    height: 100%;
}
